<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 4 Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Create Account</h2>
            <form action="/signup" method="post" class="form">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Email" class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="Email" class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control"><br>
                <a href="/login" class="float-right">Already have account?</a><br>
                <button type="submit" class="btn btn-success">SUBMIT</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>